form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid grey;
    padding: 2px;
    border-radius: 15px;
    max-width:280px;
    margin: 5px auto;
}

input{
    flex-grow: 2;
    margin-left: 5px;
    border-radius: 15px;
    border: none;
}

button{
    border: none;
    background: transparent;
}

button:hover{
    cursor: pointer;
}

input:focus{
    outline: none;
}

.loading{
    margin: auto;
    text-align: center;
}

.title {
    text-align: center;
    font-family: 'Calibri';
}
