p{
    font-weight: 500;
    margin-top: -20px;
    font-size: 1rem;
}

.container {
    position: relative;
    background-color: #e9ecef;
    color: black;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 0.2) ;
    margin-bottom: 20px;
    max-width: 700px;
    margin: 30px auto;
    font-family: 'PT Sans Caption', sans-serif;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .container {
        width: 400px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 250px;
    }
}

.title{
    color: #ffffff;
    padding: 10px;
    background-color: #0077b6;
    text-align: center;
    font-family: 'PT Sans Caption', sans-serif;
    border-radius: 15px 15px 0px 0px;
}

.info{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: row;
}

.info > div:nth-child(1) {
    width: 160px;
    text-align: center;
    /* background-color: red; */
}

.info > div > img {
    width: 100px;
    height: 100px;
    font-size: 200px;
}

.info > div > div {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #0077b6;
    /* background-color: red; */
}

.info > div:nth-of-type(2) > h2 {
    /* width: 100%; */
    margin-top: 30px;
}

.subInfo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 40px; */
    column-gap: 50px;
}

.subInfo > div > p{
    text-align: center;
}

@media (max-width: 480px) {
    .info > div:nth-child(1)  {
        width: 100px;
    }
}